[format]
    pretty = format:%C(cyan)%h %C(red)%ad %C(green)%an%C(yellow)%d %C(white)%s
    date = short
[log]
    date = short
[status]
    branch = true
    short = true
[push]
    default = current
[diff]
    color = auto
